<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <title>3rd Annual Stumptown 40 - May 16th 2012</title>
	<link href="css/screen.css" rel="stylesheet" media="screen" type="text/css" />
</head>
<body>
	<section>
		<header>
			<a href="#home"><img src="images/stumptown40.png" width="225" height="52" alt="Stumptown40"></a>
		</header>
		<nav>
			<ul>
				<li><a href="#home">Pre-Race</a></li>
				<li><a href="#brackets">Brackets</a></li>
				<li><a href="#people">All Racers</a></li>
				<li><a href="#sponsors"><span class="value">2012</span> Sponsors</a></li>
			</ul>
		</nav>
		<article id="main"></article>
	</section>
<!-- Pre-race template -->
	<script type="text/template" id="home-template">
		<div id="homeTemplate" class="view">
				<p>Pre-Race</p>
		</div>
	</script>
<!-- bracket template -->
	<script type="text/template" id="bracket-template">
		<div id="bracketTemplate" class="view bracketTemplate">
			<% _.each(list, function(item) { %>
				<a href="#brackets/<%= item.BracketId %>" data-bracket="<%= item.Name %>"><%= item.Name %></a>
			<% }); %>
		</div>
	</script>
<!-- round template -->
	<script type="text/template" id="round-template">
		<div id="roundTemplate" class="view roundTemplate">
			<ul class="round">
			<% _.each(list, function(item) { %>
					<% if(item.IsDone) { %>
							&#10003;
					<% } %>
					<li><a href="#rounds/<%= item.RoundId %>"><span class="name">Round</span> <span class="number"><%= item.RoundNumber %></span></a></li>
			<% }); %>
			</ul>
		</div>
	</script>
<!-- match header template -->	
	<script type="text/template" id="match-header-template">
		<div id="matchHeader" class="view matchHeader">
			<p><a href="#brackets/<%= model.BracketId %>">Back to List</a></p>
            <h1>Round: <%= model.RoundNumber %></h1>
			<% if (model.RoundId === 18) { %>
				<p>The winner of this race goes to the final championship round.</p>
				<p>The loser of this race gets 3rd place.</p>
			<% } %>
			<% if (model.RoundId === 19) { %>
				<p>The top racer is unbeaten.</p>
				<p>If the top racer wins this match, they get first place.</p>
				<p>If the top racer loses this match, we race one final match.</p>
			<% } %>
			<% if (model.RoundId === 20) { %>
				<p>This is the final match.</p>
				<p>The winner gets first place.</p>
				<p>The loser gets second place.</p>
			<% } %>
		</div>
	</script>
	<!-- match template -->	
		<script type="text/template" id="match-template">
			<div id="matchList" class="view matchList">
				<% _.each(list, function(item) { %>
					<div class="matchup">
						<a href="#matches/<%= item.MatchId %>">
							<% if(item.Racer1.RacerId === 0) { %>
								<p class="unknownRacer">???</p>
							<% } else { %>
								<p><span class="value"><%= item.Racer1.RacerId %></span> <%= item.Racer1.Name %> <% if(item.Winner.RacerId === item.Racer1.RacerId) { %><span class="winner">&#10003;</span><% } %></p>
							<% } %>
	                        <% if(item.Racer2.RacerId === 0) { %>
								<p class="unknownRacer">???</p>
							<% } else { %>
								<p><span class="value"><%= item.Racer2.RacerId %></span> <%= item.Racer2.Name %> <% if(item.Winner.RacerId === item.Racer2.RacerId) { %><span class="winner">&#10003;</span><% } %></p>
							<% } %>
	                    </a>
					</div>
				<% }); %>
			</div>
		</script>

	<script type="text/template" id="race-template">
		<div id="raceTemplate" class="view raceTemplate">
            <p><a href="#rounds/<%= model.RoundId %>">Back to List</a></p>
            <p>RoundNumber: <%= model.RoundNumber %></p>
            <p>RaceNumber: <%= model.RaceNumber %></p>
			<div class="racers">
				<div class="racer1">
					<div class="name">
						#<%= model.Racer1.RacerId %>
						<a id="racer1Won" data-matchId="<%= model.MatchId %>" data-racerId="<%= model.Racer1.RacerId %>" href="javascript:;"><%= model.Racer1.Name %></a>
					</div>
					<img src="/racers/carphoto/<%= model.Racer1.RacerId %>" alt="" class="car" />
				</div>
				<div class="racer2">
					<div class="name">
						#<%= model.Racer2.RacerId %>
						<a id="racer2Won" data-matchId="<%= model.MatchId %>" data-racerId="<%= model.Racer2.RacerId %>" href="javascript:;"><%= model.Racer2.Name %></a>
					</div>
					<img src="/racers/carphoto/<%= model.Racer2.RacerId %>" class="car" alt="" />
				</div>
				
				<div id="winner">
					Winner:
					<span>
						#<%= model.Winner.RacerId %> <%= model.Winner.Name %>
					</span>
				</div>

			</div>
		</div>
	</script>
	
	<script type="text/template" id="people-template">
		<div id="peopleTemplate" class="view">
			<ul class="racerlist">
				<% _.each(list, function(item) { %>
					<li><span class="number"><%= item.RacerId %></span> <span class="name"><%= item.Name %></span></li>
				<% }); %>
			</ul>
		</div>
	</script>
	
	<script type="text/template" id="sponsor-template">
		<div id="sponsorTemplate" class="view sponsorTemplate">
			<p class="templateName">This is the sponsor template.</p>
			<div><a href="#fakesponsors"><img src="/content/images/sponsors.png" alt="" /></a></div>
		</div>
	</script>
	
	<script type="text/template" id="fakesponsor-template">
		<div id="fakeSponsorTemplate" class="view fakeSponsorTemplate">
			<p class="templateName">This is the fake sponsor template.</p>
			<h1>Additional Sponsors</h1>
			<div class="item">
				<h1>The HTML &lt;TABLE&gt; tag.</h1>
				<h3>Destroying layouts since HTML 1.0</h3>
			</div>
		</div>
	</script>
	<script src="scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="scripts/underscore.min.js" type="text/javascript"></script>
	<script src="scripts/backbone.min.js" type="text/javascript"></script>
	<script src="scripts/json2.min.js" type="text/javascript"></script>
	<script src="scripts/custom.js" type="text/javascript"></script>
</body>
</html>
