@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Stumptown40</title>
    <style>
        body { background: #666; }
        a { color: #fff;}
        .hidden { display: none; }
    </style>
    <script src="/Scripts/jquery-1.8.2.min.js"></script>
    <script src="/Scripts/knockout-2.2.0.js"></script>
    <script src="/Scripts/sammy-0.7.4.min.js"></script>
    <script type="text/javascript">

        function showView(viewId) {
            $('div.view').addClass('hidden');
            $(viewId).removeClass('hidden');
        }
        
        function RaceItem(raceId, heatNumber, racer1Id, racer1Name, racer2Id, racer2Name) {
            var self = this;
            self.raceId = raceId;
            self.heatNumber = heatNumber;
            self.racer1Id = racer1Id;
            self.racer1Name = racer1Name;
            self.racer2Id = racer2Id;
            self.racer2Name = racer2Name;
        }
        
        function RoundViewModel() {

            var self = this;
            
            // data

            self.races = ko.observableArray();
            self.roundNumber = ko.observable();

            // behaviors

            self.showRace = function (raceItem) {
                alert('showRace:' + raceItem.raceId);
            };

            self.showRacer1Winner = function (raceItem) {
                alert('showRacer1Winner:' + raceItem.racer1Name);
            };

            self.showRacer2Winner = function (raceItem) {
                alert('showRacer2Winner:' + raceItem.racer2Name);
            };

            self.clearRaceWinner = function (raceItem) {
                alert('clearRaceWinner:' + raceItem.raceId);
            };

            self.showRoundView = function(roundId) {

                self.roundNumber(roundId);

                self.races.removeAll();
                self.races.push(new RaceItem(55, '1', 60, 'Alice' + roundId, 61, 'Bob'));
                self.races.push(new RaceItem(56, '2', 62, 'Charles' + roundId, 63, 'Dan'));
                self.races.push(new RaceItem(57, '3', 64, 'Eddie' + roundId, 65, 'Frank'));

                showView('#roundView');
            };

            Sammy(function () {
                this.get('#:controller', function () {
                    switch (this.params.controller) {
                        case 'round':
                            showView('#bracketView');
                            break;
                        case 'admin':
                            showView('#adminView');
                            break;
                        default:
                            alert('unexpected: ' + this.params.controller);
                            break;
                    }
                });
                this.get('#:controller/:id', function () {
                    switch (this.params.controller) {
                        case 'round':
                            self.showRoundView(this.params.id);
                            break;
                        default:
                            alert('unexpected: ' + this.params.controller);
                            break;
                    }
                });
                this.get('', function () {
                    this.app.runRoute('get', '#round');
                });
            }).run();
        }
        
        $(function () {
            ko.applyBindings(new RoundViewModel());
        });
        
    </script>
</head>
<body>
    <div>
        
        <ul>
            <li><a href="#carGallery">Car Gallery</a></li>
            <li><a href="#sponsors">Sponsors</a></li>
            <li>|</li>
            <li><a href="#round">Bracket</a></li>
            <li><a href="#stats">Stats</a></li>
            <li><a href="#admin">Admin</a></li>
        </ul>

        <div id="bracketView" class="view">
            <h1>Brackets</h1>
            <ol>
                <li><a href="#round/1">Round 1</a></li>
                <li><a href="#round/2">Round 2</a></li>
                <li><a href="#round/3">Round 3</a></li>
                <li><a href="#round/4">Round 4</a></li>
                <li><a href="#round/5">Round 5</a></li>
                <li><a href="#round/6">Round 6</a></li>
                <li><a href="#round/7">Round 7</a></li>
            </ol>
        </div>
        
        <div id="roundView" class="view hidden">
            <div>
                <a href="#round">Back</a>
                <input type="button" data-bind="value: roundNumber"/>
            </div>
            <table>
                <tbody data-bind="foreach: races">
                <tr>
                    <td><input type="button" data-bind="value: heatNumber, click: $root.showRace" style="width:50px;" /></td>
                    <td><input type="button" data-bind="value: racer1Name, click: $root.showRacer1Winner" style="width:100px;"/></td>
                    <td><input type="button" data-bind="value: racer2Name, click: $root.showRacer2Winner" style="width:100px;"/></td>
                    <td><input type="button" value="Clear" data-bind="click: $root.clearRaceWinner" /></td>
                </tr>
                </tbody>
            </table>
        </div>
        
        <div id="adminView" class="view hidden">
            <h1>Admin</h1>
            <div><input type="button" value="Assign Brackets" /></div>
            <div><input type="button" value="Clear Brackets" /></div>
        </div>
    </div>
</body>
</html>
